{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% if refresh is defined %}
	{% set pageRefresh=refresh %}
{% else %}
{% endif %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<span class="message">Message : <b>{{ message|raw }}</b></span><br>{% endif %}
<br>
{% if datesForm is defined and datesForm|length %}
<br>
{{ form_start(datesForm) }}
<table>
	<tr>
		<td>{{ form_row(datesForm.date) }}</td>
		<td>{{ form_row(datesForm.startDate) }}</td>
		<td>{{ form_row(datesForm.endDate) }}</td>
		<td>{{ form_row(datesForm.sector) }}</td>
		<td>{{ form_row(datesForm.list) }}</td>
		<td>{{ form_row(datesForm.search) }}</td>
	</tr>
</table>
<br>
{{ form_end(datesForm) }}
{% endif %}
{% if data is defined and data|length %}
<div class="listType">
{% if form is defined and form|length %}{% set f=1 %}{% else %}{% set f=0 %}{% endif %}
{% if f==1 %}{{ form_start(form) }}{% endif %}
<table>
	<tr>
		<th>EPIC</th>
		<th>Company</th>
		<th>Sector</th>
		<th>List</th>
		<th>Price</th>
		<th colspan="2">Change</th>
		<th>Updated (UTC)</th>
{% if update is not defined %}		
		<th colspan="3">Last Day Average</th>
		<th colspan="3">Last Week Average</th>
		<th colspan="3">Last Month Average</th>
{% endif %}
		{% if f==1 %}<th></th>{% endif %}	
	</tr>
	{% for d in data %}
		{% if (d.Changes != '') and (d.Changes != 0) %}
			 {% if d.Changes > 0 %}
			 	{% set colour='blue' %}
			 {% else %}
			 	{% set colour='red' %}
			 {% endif %}
		{% else %}
			{% set colour='green' %}
		{% endif %}
	<tr>
		<td align="center"><a href="{{ path('invest_share_prices', {'company': d.Code}) }}">{{ d.Code }}</a></td>
		<td>{{ d.Name }}</td>
		<td>{% if d.Sector is defined %}{{ d.Sector }}{% endif %}</td>
		<td>{% if d.List is defined %}{{ d.List }}{% endif %}</td>
		<td id="au_{{ d.Code }}_price" align="right" class="{% if d.newPrice is defined and d.newPrice>0 %}updatedPrice{% else %}{% endif %}">{{ d.Price|number_format(2) }}</td>
		<td id="au_{{ d.Code }}_change" align="right" class="{% if d.Changes == 0 %}notChanged{% else %}{% if d.Changes > 0 %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if d.Changes>0 %}+{% endif %}{{ d.Changes|number_format(2) }}</td>
		<td id="au_{{ d.Code }}_changep" align="right" class="{% if d.Changes == 0 %}notChanged{% else %}{% if d.Changes > 0 %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if d.Price==0 %}0{% else %}{% if d.Changes>0 %}+{% endif %}{{ (d.Changes/d.Price*100)|number_format(2) }}{% endif %} %</td>
		<td id="au_{{ d.Code }}_updated" class="{% if d.Class is defined and d.Class|length %}{{ d.Class }}{% endif %}">{{ d.Date|date('d/m/Y H:i') }}</td>
{% if update is not defined %}		
		<td align="right">{% if d.lastDay is defined and d.lastDay != 0 %}{{ d.lastDay|number_format(2) }}{% endif %}</td>
		<td align="right">{% if d.lastDay is defined and d.lastDay != 0 %}<span class="{% if d.Price == d.lastDay %}notChanged{% else %}{% if d.Price > d.lastDay %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if (d.Price-d.lastDay) > 0 %}+{% endif %}{{ (d.Price-d.lastDay)|number_format(2) }}</span>{% endif %}</td>
		<td align="right">{% if d.lastDay is defined and d.lastDay != 0 %}<span class="{% if d.Price == d.lastDay %}notChanged{% else %}{% if d.Price > d.lastDay %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if (d.Price-d.lastDay) > 0 %}+{% endif %}{% if (d.Price-d.lastDay) < 0 %}-{% endif %}{% if d.Price==0 %}0{% else %}{{ (((d.Price-d.lastDay)|abs)/d.Price*100)|number_format(2) }}{% endif %} %</span>{% endif %}</td>
		<td align="right">{% if d.lastWeek is defined and d.lastWeek != 0 %}{{ d.lastWeek|number_format(2) }}{% endif %}</td>
		<td align="right">{% if d.lastWeek is defined and d.lastWeek != 0 %}<span class="{% if d.Price == d.lastWeek %}notChanged{% else %}{% if d.Price > d.lastWeek %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if (d.Price-d.lastWeek) > 0 %}+{% endif %}{{ (d.Price-d.lastWeek)|number_format(2) }}</span>{% endif %}</td>
		<td align="right">{% if d.lastWeek is defined and d.lastWeek != 0 %}<span class="{% if d.Price == d.lastWeek %}notChanged{% else %}{% if d.Price > d.lastWeek %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if (d.Price-d.lastWeek) > 0 %}+{% endif %}{% if (d.Price-d.lastWeek) < 0 %}-{% endif %}{% if d.Price==0 %}0{% else %}{{ (((d.Price-d.lastWeek)|abs)/d.Price*100)|number_format(2) }}{% endif %} %</span>{% endif %}</td>
		<td align="right">{% if d.lastMonth is defined and d.lastMonth != 0 %}{{ d.lastMonth|number_format(2) }}{% endif %}</td>
		<td align="right">{% if d.lastMonth is defined and d.lastMonth != 0 %}<span class="{% if d.Price == d.lastMonth %}notChanged{% else %}{% if d.Price > d.lastMonth %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if (d.Price-d.lastMonth) > 0 %}+{% endif %}{{ (d.Price-d.lastMonth)|number_format(2) }}</span>{% endif %}</td>
		<td align="right">{% if d.lastMonth is defined and d.lastMonth != 0 %}<span class="{% if d.Price == d.lastMonth %}notChanged{% else %}{% if d.Price > d.lastMonth %}changedUp{% else %}changedDown{% endif %}{% endif %}">{% if (d.Price-d.lastMonth) > 0 %}+{% endif %}{% if (d.Price-d.lastMonth) < 0 %}-{% endif %}{% if d.Price==0 %}0{% else %}{{ (((d.Price-d.lastMonth)|abs)/d.Price*100)|number_format(2) }}{% endif %} %</span>{% endif %}</td>
{% endif %}
		{% if f==1 %}<td>{{ form_widget(form[d.Code|replace({'.': '_'})]) }}</td>{% endif %}
	</tr>
	{% endfor %}
	{% if f==1 %}<tr>
		<td align="right" colspan="18">{{ form_widget(form.submit) }}</td>
	</tr>{% endif %}
</table>
</div>
{% if f==1 %}{{ form_end(form) }}{% endif %}
{% endif %}
{% if refresh is defined and refresh > 0 %}
<br>automatic update start in {{ refresh }} seconds
{% else %}
<br><a target="_blank" href="{{ path('invest_share_pricelist') }}/0/1">Export</a>
{% endif %}
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}
{% block additional_js %}
{% if au is defined and au==true %}
<script type="text/javascript">
setInterval(function() {
	ajaxUpdatePrices('{{ path('ajax_share_updates') }}');
}, 30000);
</script>
{% endif %}
{% endblock %}